body{
    background-image: url(../images/back.jpg); /*Так задаётся фон страницы*/
}
h1{
    text-align: center;
    color: #F6EB9A;
    background-color: #5853BC;
}
h2{
    color: #F6EB9A;
    background-color: #362391;
    margin-top: 15px;
    margin-bottom: 15px;
}
.defaults_paragraph{
    text-align: justify; /*Выравнивание текста по ширине*/
    color: #F6EB9A;
    margin-top: 0;
}
.name{
    font-weight: bold; /*Жирный текст*/
    font-style: italic; /*Курсив текст*/
    color: #fde52c; /*Цвет текста*/
}
img{
    margin: 10px;
}
#shnitke{
    float: left;
}
#beatles{
    float: right;
}
#vysot{
    float: right;;
}
#queen{
    float: left;
}
.container1{
    width: 80%; /*Ширина 80% от родительского элемента*/
    margin: 0 auto; /*Внешний отступ*/
    padding: 20px; /*Отступы сверху и снизу в 20 пикселей*/
}
.container2{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}