/*Настройки страницы*/
body {
    background-color: #93B1A6; /*Так задаётся фон страницы*/
}

/*Настройки таблицы*/
table {
    background-color: #e8b8b8;
}

/*Заголовки таблиц*/
th {
    background-color: #808080;
}

/*Настройки таблиц*/
td {
    padding: 2px 5px 2px 5px;
}

/*Выравнивание население, площадь*/
.number {
    text-align: right;
}

/*Размер изображения*/
img {
    width: 30vw;
}