body{
    background-color: #93B1A6; /*Так задаётся фон страницы*/
}
h1{
    color: #040D12;
}
h2{
    color: #040D12;
    background-color: #5C8374;
}
p{
    text-align: justify; /*Выравнивание текста по ширине*/
    color: #040D12;
}
audio{
    height: 20px;
    width: 300px;
}
video{
    height: 240px;
    width: 320px;
}